.font, h1, h2, h3, h4, h5, h6, p, button, .subtitle, a, a.header-button, .primary-button, .secondary-button, nav div.container-fluid div ul li a {
  font-family: regular; }

.font-weight, h1, h2, h3, h4, h5, h6, button, .subtitle {
  font-weight: 700; }

.font, h1, h2, h3, h4, h5, h6, p, button, .subtitle, a, a.header-button, .primary-button, .secondary-button, nav div.container-fluid div ul li a {
  font-family: regular; }

.font-weight, h1, h2, h3, h4, h5, h6, button, .subtitle {
  font-weight: 700; }

@font-face {
  font-family: regular;
  src: url("./fonts/PlusJakartaSans-Regular.ttf"), local("Courier New");
  font-display: swap; }

h1 {
  line-height: 1.308em;
  font-size: 52px;
  margin-bottom: 20px; }
  @media screen and (min-width: 0px) and (max-width: 991px) {
    h1 {
      font-size: 43px;
      line-height: 43px; } }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    h1 {
      font-size: 36px;
      line-height: 36px; } }
  @media screen and (min-width: 0em) and (max-width: 479px) {
    h1 {
      font-size: 30px;
      line-height: 36px; } }

h2 {
  line-height: 1.316em;
  font-size: 38px; }
  @media screen and (min-width: 0px) and (max-width: 991px) {
    h2 {
      font-size: 38px;
      line-height: 38px; } }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    h2 {
      font-size: 32px;
      line-height: 32px; } }
  @media screen and (min-width: 0em) and (max-width: 479px) {
    h2 {
      font-size: 26px;
      line-height: 26px; } }

h3 {
  line-height: 1.375em;
  font-size: 24px; }
  @media screen and (min-width: 0px) and (max-width: 991px) {
    h3 {
      font-size: 24px; } }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    h3 {
      font-size: 22px;
      line-height: 22px; } }
  @media screen and (min-width: 0em) and (max-width: 479px) {
    h3 {
      font-size: 20px;
      line-height: 20px; } }

h4 {
  font-size: 22px;
  line-height: 1.091em; }
  @media screen and (min-width: 0px) and (max-width: 991px) {
    h4 {
      font-size: 20px;
      line-height: 20px; } }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    h4 {
      font-size: 18px;
      line-height: 18px; } }
  @media screen and (min-width: 0em) and (max-width: 479px) {
    h4 {
      font-size: 18px; } }

h5 {
  line-height: 1.389em;
  font-size: 18px; }

h6 {
  font-size: 16px;
  line-height: 1.125em; }

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.800em;
  padding: 10px 0px; }

button {
  font-size: 16px; }

.subtitle {
  font-size: 18px;
  line-height: 1.125em; }
  @media screen and (min-width: 0px) and (max-width: 991px) {
    .subtitle {
      font-size: 16px; } }

a {
  font-size: 16px;
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative; }

body {
  margin: 0;
  padding: 0;
  font-family: regular; }

a.header-button {
  padding: 16px 26px;
  line-height: 1.125em;
  color: white;
  text-decoration: none;
  border-radius: 80px;
  color: white;
  background: #343472;
  transition: all 0.3s ease; }
  a.header-button:hover {
    color: #FFD3B9;
    transform: translateY(-5px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05); }

.primary-button {
  padding: 24px 44px;
  font-size: 18px;
  line-height: 1.389em;
  transition: all 0.3s ease;
  text-decoration: none;
  border-radius: 80px;
  color: white;
  background: #343472; }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    .primary-button {
      padding: 20px 44px;
      font-size: 16px;
      line-height: 1.125em; } }
  @media screen and (min-width: 0em) and (max-width: 479px) {
    .primary-button {
      width: 100%;
      text-align: center; } }
  .primary-button:hover {
    color: #FFD3B9;
    transform: translateY(-5px);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05); }

.secondary-button {
  padding: 24px 44px;
  font-size: 18px;
  line-height: 1.389em;
  transition: all 0.3s ease;
  text-decoration: none;
  border-radius: 80px;
  background: transparent;
  color: white;
  border: 1px solid white; }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    .secondary-button {
      padding: 20px 44px;
      font-size: 16px;
      line-height: 1.125em; } }
  @media screen and (min-width: 0em) and (max-width: 479px) {
    .secondary-button {
      width: 100%;
      text-align: center; } }
  .secondary-button:hover {
    color: #FFD3B9;
    transform: translateY(-5px);
    border: 1px solid #FFD3B9; }

div.resize {
  max-width: 1248px;
  width: 100%;
  padding: 0px 24px; }

div.subtitle-main {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start; }
  div.subtitle-main div.subtitle-line {
    width: 50px;
    background: #292C32;
    height: 2px;
    margin-right: 15px; }
  @media screen and (min-width: 0em) and (max-width: 479px) {
    div.subtitle-main {
      margin-bottom: 10px; } }

nav img {
  width: auto;
  height: auto; }

nav.nav-position {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 4; }

nav div.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding-top: 34px;
  padding-bottom: 34px; }
  nav div.container-fluid a.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center; }
  @media screen and (min-width: 0px) and (max-width: 991px) {
    nav div.container-fluid {
      padding-top: 25px;
      padding-bottom: 25px; } }
  nav div.container-fluid div.responsive-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between; }
  nav div.container-fluid div ul li.nav-li {
    margin-right: 20px; }
  nav div.container-fluid div ul li {
    list-style-type: none; }
    nav div.container-fluid div ul li a {
      color: #292C32;
      font-size: 18px;
      text-decoration: none; }
      nav div.container-fluid div ul li a:hover {
        color: #FFD3B9;
        transition: all 0.5s ease; }
  nav div.container-fluid a.contact1 {
    display: none;
    margin-right: 35px; }
    @media screen and (min-width: 0px) and (max-width: 991px) {
      nav div.container-fluid a.contact1 {
        display: block; } }
    @media screen and (min-width: 0px) and (max-width: 767px) {
      nav div.container-fluid a.contact1 {
        display: none; } }
  @media screen and (min-width: 0px) and (max-width: 991px) {
    nav div.container-fluid a.contact2 {
      display: none; } }
  nav div.container-fluid a.contact-responsive {
    display: none; }
    @media screen and (min-width: 0px) and (max-width: 767px) {
      nav div.container-fluid a.contact-responsive {
        display: inline-block; } }

div.hero {
  color: white;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  justify-content: unset; }
  div.hero img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -4; }
  div.hero div.background-cover {
    background: rgba(0, 0, 0, 0.45);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3; }
  div.hero div.container-hero {
    padding-top: 10%;
    padding-bottom: 10%; }
    @media screen and (min-width: 1920px) {
      div.hero div.container-hero {
        padding-top: 130px;
        padding-bottom: 130px; } }
    div.hero div.container-hero > div {
      max-width: 566px; }
      div.hero div.container-hero > div > div div.subtitle-line {
        background: white; }
      div.hero div.container-hero > div div.buttons {
        padding: 30px 0px; }
        @media screen and (min-width: 0em) and (max-width: 479px) {
          div.hero div.container-hero > div div.buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; } }
        div.hero div.container-hero > div div.buttons a.secondary-button {
          margin-left: 25px;
          background: transparent;
          color: white;
          border: 1px solid white; }
          div.hero div.container-hero > div div.buttons a.secondary-button:hover {
            color: #FFD3B9;
            transform: translateY(-5px);
            border: 1px solid #FFD3B9; }
          @media screen and (min-width: 0em) and (max-width: 479px) {
            div.hero div.container-hero > div div.buttons a.secondary-button {
              margin-left: 0px;
              margin-top: 15px; } }
        div.hero div.container-hero > div div.buttons a.primary-button {
          color: white;
          color: white;
          background: #343472; }
          div.hero div.container-hero > div div.buttons a.primary-button:hover {
            color: #FFD3B9;
            transform: translateY(-5px);
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05); }

div.about {
  padding: 100px 0px; }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    div.about > div.container div.row div.abouthead {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 0px 0px 20px; } }
  div.about > div.container div.row div.abouthead div.subtitle-main div.subtitle-line {
    background: #343472; }
    @media screen and (min-width: 0px) and (max-width: 767px) {
      div.about > div.container div.row div.abouthead div.subtitle-main div.subtitle-line {
        display: none; } }
  div.about > div.container div.row div.abouthead div.subtitle-main div.subtitle {
    color: #343472; }
  div.about > div.container div.row div.aboutaction {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end; }
    @media screen and (min-width: 0px) and (max-width: 767px) {
      div.about > div.container div.row div.aboutaction {
        justify-content: center; } }
    div.about > div.container div.row div.aboutaction a.secondary-button {
      color: #292C32;
      border: 1px solid #292C32; }
  div.about > div.container > div.containerx {
    margin: 40px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center; }
    div.about > div.container > div.containerx > div.about-grid {
      height: 100%;
      display: grid;
      gap: 40px 80px;
      grid-template-columns: auto auto; }
      @media screen and (min-width: 0px) and (max-width: 991px) {
        div.about > div.container > div.containerx > div.about-grid {
          gap: 40px 60px; } }
      @media screen and (min-width: 0px) and (max-width: 767px) {
        div.about > div.container > div.containerx > div.about-grid {
          grid-template-columns: auto; } }
      div.about > div.container > div.containerx > div.about-grid > div.col {
        max-width: 580px;
        height: 100%;
        display: flex;
        align-items: stretch;
        justify-content: stretch; }
        div.about > div.container > div.containerx > div.about-grid > div.col > div.row {
          height: 100%;
          box-shadow: 0px 4px 10px rgba(41, 44, 50, 0.03);
          border: 1px solid #E7E9EE;
          padding: 40px 30px;
          border-radius: 18px; }
          div.about > div.container > div.containerx > div.about-grid > div.col > div.row > div.col-lg-9 {
            padding: 0px 25px; }
            @media screen and (min-width: 0px) and (max-width: 991px) {
              div.about > div.container > div.containerx > div.about-grid > div.col > div.row > div.col-lg-9 {
                padding: 20px 25px 0px; } }
            @media screen and (min-width: 0px) and (max-width: 767px) {
              div.about > div.container > div.containerx > div.about-grid > div.col > div.row > div.col-lg-9 {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column; } }
            @media screen and (min-width: 0px) and (max-width: 767px) {
              div.about > div.container > div.containerx > div.about-grid > div.col > div.row > div.col-lg-9 h3 {
                text-align: center; } }
            div.about > div.container > div.containerx > div.about-grid > div.col > div.row > div.col-lg-9 p {
              color: #6F7278; }
              @media screen and (min-width: 0px) and (max-width: 767px) {
                div.about > div.container > div.containerx > div.about-grid > div.col > div.row > div.col-lg-9 p {
                  text-align: center; } }
          div.about > div.container > div.containerx > div.about-grid > div.col > div.row > div.col-lg-3 img {
            width: auto;
            height: auto; }
          @media screen and (min-width: 0px) and (max-width: 767px) {
            div.about > div.container > div.containerx > div.about-grid > div.col > div.row > div.col-lg-3 {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column; } }
          @media screen and (min-width: 0px) and (max-width: 991px) {
            div.about > div.container > div.containerx > div.about-grid > div.col > div.row {
              padding: 40px 10px; } }
          @media screen and (min-width: 0em) and (max-width: 479px) {
            div.about > div.container > div.containerx > div.about-grid > div.col > div.row {
              padding: 30px 0px; } }

div.third-section {
  background: #FBF9F8;
  padding: 80px 0px; }
  div.third-section > div.container > div.row > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    div.third-section > div.container > div.row > div img {
      width: 100%;
      height: auto; }
    div.third-section > div.container > div.row > div > div {
      max-width: 542px;
      margin-right: 30px; }
      @media screen and (min-width: 0px) and (max-width: 991px) {
        div.third-section > div.container > div.row > div > div {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-right: 0px; } }
      @media screen and (min-width: 0px) and (max-width: 991px) {
        div.third-section > div.container > div.row > div > div:first-child {
          margin-bottom: 30px; } }
      @media screen and (min-width: 0px) and (max-width: 991px) {
        div.third-section > div.container > div.row > div > div:first-child h1 {
          text-align: center; } }
      div.third-section > div.container > div.row > div > div:first-child h2 {
        margin-bottom: 20px; }
        @media screen and (min-width: 0px) and (max-width: 991px) {
          div.third-section > div.container > div.row > div > div:first-child h2 {
            text-align: center; } }
      div.third-section > div.container > div.row > div > div:first-child p {
        color: #6F7278;
        margin-bottom: 40px; }
        @media screen and (min-width: 0px) and (max-width: 991px) {
          div.third-section > div.container > div.row > div > div:first-child p {
            text-align: center;
            margin-bottom: 20px; } }

div.product {
  background: linear-gradient(180deg, #FFFFFF 37.5%, #FAFAFC 37.5%); }
  div.product div.containerx {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: auto 24px; }
    div.product div.containerx div.product-grid {
      display: grid;
      justify-content: space-between;
      gap: 50px;
      padding: 50px 0px 0px;
      grid-template-columns: repeat(3, minmax(0, 1fr)); }
      @media screen and (min-width: 0px) and (max-width: 991px) {
        div.product div.containerx div.product-grid {
          grid-template-columns: auto auto;
          justify-content: center;
          gap: 50px; } }
      @media screen and (min-width: 0px) and (max-width: 767px) {
        div.product div.containerx div.product-grid {
          grid-template-columns: auto; } }
      div.product div.containerx div.product-grid div.col {
        max-width: 580px; }
        div.product div.containerx div.product-grid div.col div.row {
          background: white;
          height: 100%;
          border-radius: 18px;
          border: 1px solid #E7E9EE; }
          div.product div.containerx div.product-grid div.col div.row > div img {
            width: 100%;
            height: auto; }
          div.product div.containerx div.product-grid div.col div.row > div:first-child {
            background: #E8E9FD;
            padding: 30px;
            height: 55%;
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            display: flex;
            justify-content: center;
            align-items: center; }
            @media screen and (min-width: 0px) and (max-width: 767px) {
              div.product div.containerx div.product-grid div.col div.row > div:first-child {
                height: auto;
                padding: 35px 30px; } }
          div.product div.containerx div.product-grid div.col div.row > div:nth-child(2) {
            padding: 30px; }
            @media screen and (min-width: 0px) and (max-width: 767px) {
              div.product div.containerx div.product-grid div.col div.row > div:nth-child(2) {
                padding: 35px 30px; } }
