@import "mixins";
@import "rules";
* {
    @include mpb;
}

body {
    @include mp;
    font-family: regular;
}

a.header-button {
    padding: 16px 26px;
    line-height: 1.125em;
    color: $white;
    text-decoration: none;
    border-radius: 80px;
    @include primarybtn;
    @extend .font;
    @include transition;
}

.primary-button {
    @include defaultbutton;
    @include primarybtn;
}

.secondary-button {
    @include defaultbutton;
    @include secondarybutton;
}

div.resize {
    max-width: 1248px;
    width: 100%;
    padding: 0px 24px;
}

div.subtitle-main {
    margin-bottom: 20px;
    @include flex(no);
    justify-content: flex-start;
    div.subtitle-line {
        width: 50px;
        background: $dark;
        height: 2px;
        margin-right: 15px;
    }
    @include respond(phone) {
        margin-bottom: 10px;
    }
}

nav {
    img {
        width: auto;
        height: auto;
    }
    &.nav-position {
        @include mp;
        width: 100%;
        @include flex(no);
        background: $white;
        z-index: 4;
        // position: sticky;
        // top: 0;
    }
    div.container-fluid {
        @include flex(no);
        justify-content: space-between;
        a.navbar-brand {
            @include flex(no);
        }
        padding-top: 34px;
        padding-bottom: 34px;
        @include respond(tab) {
            padding-top: 25px;
            padding-bottom: 25px;
        }
        div.responsive-nav {
            @include flex(no);
            justify-content: space-between;
        }
        div {
            ul {
                // padding: 15px 0px 0px 0px;
                li.nav-li {
                    margin-right: 20px;
                }
                li {
                    list-style-type: none;
                    a {
                        color: $dark;
                        font-size: 18px;
                        text-decoration: none;
                        @extend .font;
                        &:hover {
                            @include linkhover;
                        }
                    }
                    @include respond(tab) {
                        padding: 20px 0px 0px 0px;
                    }
                }
            }
        }
        a {
            &.contact1 {
                display: none;
                margin-right: 35px;
                @include respond(tab) {
                    display: block;
                }
                @include respond(lphone) {
                    display: none;
                }
            }
            &.contact2 {
                @include respond(tab) {
                    display: none;
                }
            }
            &.contact-responsive {
                display: none;
                @include respond(lphone) {
                    display: inline-block;
                }
            }
        }
    }
}

div.hero {
    color: $white;
    width: 100%;
    position: relative;
    @include flex(yes);
    overflow: hidden;
    justify-content: unset;
    img {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -4;
    }
    div.background-cover {
        background: rgba(0, 0, 0, 0.45);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -3;
    }
    div.container-hero {
        padding-top: 10%;
        padding-bottom: 10%;
        @include respond(laptop) {
            padding-top: 130px;
            padding-bottom: 130px;
        }
        &>div {
            max-width: 566px;
            &>div {
                div.subtitle-line {
                    background: $white;
                }
            }
            div.buttons {
                padding: 30px 0px;
                @include respond(phone) {
                    @include flex(yes);
                }
                a.secondary-button {
                    margin-left: 25px;
                    @include secondarybutton;
                    @include respond(phone) {
                        margin-left: 0px;
                        margin-top: 15px;
                    }
                }
                a.primary-button {
                    color: $white;
                    @include primarybtn;
                }
            }
        }
    }
}

div.about {
    padding: 100px 0px;
    &>div.container {
        div.row {
            div.abouthead {
                @include respond(lphone) {
                    @include flex(yes);
                    margin: 0px 0px 20px;
                }
                div.subtitle-main {
                    div.subtitle-line {
                        background: $blue;
                        @include respond(lphone) {
                            display: none;
                        }
                    }
                    div.subtitle {
                        color: $blue;
                    }
                }
            }
            div.aboutaction {
                @include flex(no);
                justify-content: flex-end;
                @include respond(lphone) {
                    justify-content: center;
                }
                a.secondary-button {
                    color: $dark;
                    @include border($dark);
                }
            }
        }
        &>div.containerx {
            margin: 40px 0px 0px 0px;
            @include flex(no);
            &>div.about-grid {
                height: 100%;
                display: grid;
                gap: 40px;
                grid-template-columns: auto auto;
                @include respond(tab) {
                    gap: 40px;
                }
                @include respond(lphone) {
                    grid-template-columns: auto;
                }
                &>div.col {
                    max-width: 580px;
                    height: 100%;
                    display: flex;
                    align-items: stretch;
                    justify-content: stretch;
                    &>div.row {
                        height: 100%;
                        box-shadow: 0px 4px 10px rgba(41, 44, 50, 0.03);
                        @include border(#E7E9EE);
                        padding: 40px 30px;
                        border-radius: 18px;
                        &>div.col-lg-9 {
                            padding: 0px 25px;
                            @include respond(tab) {
                                padding: 20px 25px 0px;
                            }
                            @include respond(lphone) {
                                @include flex(yes);
                            }
                            h3 {
                                @include respond(lphone) {
                                    text-align: center;
                                }
                            }
                            p {
                                color: $grey;
                                @include respond(lphone) {
                                    text-align: center;
                                }
                            }
                        }
                        &>div.col-lg-3 {
                            img {
                                width: auto;
                                height: auto;
                            }
                            @include respond(lphone) {
                                @include flex(yes);
                            }
                        }
                        @include respond(tab) {
                            padding: 40px 10px;
                        }
                        @include respond(phone) {
                            padding: 30px 0px;
                        }
                    }
                }
            }
        }
    }
}

div.third-section {
    background: $greyback;
    padding: 80px 0px;
    &>div.container {
        &>div.row {
            &>div {
                img {
                    width: 100%;
                    height: auto;
                }
                @include flex(yes);
                // justify-content: unset;
                &>div {
                    max-width: 542px;
                    margin-right: 30px;
                    @include respond(tab) {
                        @include flex(yes);
                        margin-right: 0px;
                    }
                    &:first-child {
                        @include respond(tab) {
                            margin-bottom: 30px;
                        }
                        h1 {
                            @include respond(tab) {
                                text-align: center;
                            }
                        }
                        h2 {
                            margin-bottom: 20px;
                            @include respond(tab) {
                                text-align: center;
                            }
                        }
                        p {
                            color: $grey;
                            margin-bottom: 40px;
                            @include respond(tab) {
                                text-align: center;
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

div.product {
    background: linear-gradient(180deg, #FFFFFF 37.5%, #FAFAFC 37.5%);
    div.containerx {
        @include flex(no);
        overflow: hidden;
        padding: auto 24px;
        div.product-grid {
            display: grid;
            justify-content: space-between;
            gap: 50px 30px;
            padding: 50px 0px 0px;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            @include respond(tab) {
                grid-template-columns: auto auto;
                justify-content: center;
                gap: 50px;
            }
            @include respond(lphone) {
                grid-template-columns: auto;
            }
            div.col {
                max-width: 580px;
                div.row {
                    background: $white;
                    height: 100%;
                    border-radius: 18px;
                    @include border($blueborder);
                    &>div {
                        img {
                            width: 100%;
                            height: auto;
                        }
                        &:first-child {
                            background: $lightblue;
                            padding: 30px 60px;
                            height: 55%;
                            border-top-left-radius: 18px;
                            border-top-right-radius: 18px;
                            @include flex(no);
                            @include respond(tab) {
                                padding: 35px 30px;
                            }
                            @include respond(lphone) {
                                height: auto;
                                padding: 35px 70px;
                            }
                            @include respond(phone) {
                                height: auto;
                                padding: 35px 30px;
                            }
                        }
                        &:nth-child(2) {
                            padding: 30px;
                            @include respond(lphone) {
                                padding: 35px 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}

div.subtext {
    background: $blue;
    padding-top: 110px;
    padding-bottom: 110px;
    position: relative;
    color: $white;
    @include flex(yes);
    overflow: hidden;
    img {
        position: absolute;
        &:first-child {
            top: -172.5px;
            left: -125px;
            animation: twirl 50s infinite ease-in;
            @include respond(phone) {
                left: -145px;
            }
        }
        &:nth-child(2) {
            left: -260px;
            width: 308px;
            min-width: 308px;
            min-height: 308px;
            @include respond(lphone) {
                display: none;
            }
        }
        &.bigtwirl {
            right: -94px;
            bottom: -278px;
            animation: twirl 50s infinite ease-in;
            @include respond(lphone) {
                display: none;
            }
        }
        &.smallcircle {
            right: -106px;
            bottom: -217px;
            @include respond(lphone) {
                right: -66px;
                bottom: -177px;
            }
        }
    }
    &>div {
        @include flex(yes);
        position: relative;
        h2 {
            text-align: center;
        }
        div.buttons {
            margin-top: 25px;
            width: 100%;
            @include flex(no);
            a {
                &.primary-button {
                    background: $white;
                    color: $dark;
                }
                &.secondary-button {
                    margin-left: 30px;
                    @include respond(phone) {
                        margin-left: 0px;
                        margin-top: 20px;
                    }
                }
            }
            @include respond(phone) {
                @include flex(yes);
            }
        }
    }
}

@keyframes twirl {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}